<% if @favorite.errors.any? %>

    <ul>
        <% @favorite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>

<% end %>

<%= form_for @favorite do |f| %>

    <%= f.hidden_field :user_id %>

    <%= f.label "Name (ex: 'main crash', 'side ride', etc):" %>
    <br>
    <%= f.text_field :name %>
    <br><br>
    <%= f.submit "Submit" %>

<% end %>