<h2><%= @favorite.name %></h2>

<% if !@favorite.cymbal %>

    No specs yet. Add them <%= link_to "here", new_favorite_cymbal_path(@favorite) %>!

<% else %>

        -<%= @favorite.cymbal.brand.titleize %> <%= @favorite.cymbal.line.titleize %> <%= @favorite.cymbal.cym_model.titleize %> <%= @favorite.cymbal.cym_type.titleize %> 
        <br>
        -<%= @favorite.cymbal.diameter %>"
        <br>
        <% if @favorite.cymbal.finish %>
            -<%= @favorite.cymbal.finish.titleize %> Finish
        <%else%>
        <%end%>
        <br>
        <% if @favorite.cymbal.weight %>
            -<%= @favorite.cymbal.weight %> grams
        <%else%>
        <%end%>
        <br><br>
        <hr>
        <%= link_to "Go Home", user_path(@current_user) %>

<% end %>