<h2><%= @favorite.name %></h2>

<% if !@favorite.cymbal %>

    No specs yet. Add them <%= link_to "here", new_favorite_cymbal_path(@favorite) %>!

<% else %>

        <%= @favorite.cymbal.brand %> <%= @favorite.cymbal.line %> <%= @favorite.cymbal.cym_model %> <%= @favorite.cymbal.cym_type %> 
        <br>
        <%= @favorite.cymbal.diameter %>"
        <br>
        <%= @favorite.cymbal.finish %> Finish
        <br>
        <%= @favorite.cymbal.weight %> grams
        <br><br>
        <hr>
        <%= link_to "Go Home", user_path(@current_user) %>

<% end %>