<span class="greeting"><h2>Hi, <%= @current_user.username %>.</h2></span>
<h1>You have <%= @current_user.workouts.count %> workout(s):</h1>

<% if @current_user.workouts.empty?  %>
    Create one <%=link_to "here", new_workout_path %>!

<% else %>

    <ul>
        <% @current_user.workouts.each do |b| %>
            <h2><%= link_to b.name, workout_path(b) %></h2>
                <%= link_to "edit workout", edit_workout_path(b) %> |
                <%= link_to "delete workout", workout_path(b), method: :delete %>
                <hr>
        <% end %>
    </ul>

<% end %>