<span class="greeting"><h2>Hi, <%= @current_user.username %>.</h2></span>
<h1>Your bags:</h1>

<% if @current_user.bags.empty? %>
    None. Create one <%=link_to "here", new_user_bag_path(@current_user.id) %>!
<% else %>
    <ul>
        <%= @current_user.bags.each do |b| %>
            <h2><%= b.name %></h2>
            <br>
            <li><a href="link to cymbal"><%= b.cymbal.diameter %><%= b.cymbal.brand %><%= b.cymbal.line %><%= b.cymbal.type %></a></li>
        <% end %>
    </ul>
    Edit bag <%= link_to "here", edit_user_bag_path %>">
<% end %>