<span class="greeting"><h2>Hi, <%= @current_user.username %>.</h2></span>
<h1>You have <%= @current_user.favorites.count %> cymbal(s):</h1>

<% if @current_user.favorites.empty?  %>
    None. Create one <%=link_to "here", new_favorite_path %>!

<% else %>

    <ul>
        <% @current_user.favorites.each do |b| %>
            <h2><%= link_to b.name, cymbal_path(b) %></h2>
                <%= link_to "edit name", edit_favorite_path(b) %> |
                <%= link_to "edit cymbal", edit_favorite_cymbal_path(b) %> |                
                <%= link_to "delete", favorite_path(b), method: :delete %>
                <hr>
        <% end %>
    </ul>

<% end %>