<span class="greeting"><h2>Hi, <%= @current_user.username %>.</h2></span>
<h1>You have <%= @current_user.bags.count %> bag(s):</h1>

<% if @current_user.bags.empty?  %>
    None. Create one <%=link_to "here", new_bag_path %>!

<% else %>

    <ul>
        <% @current_user.bags.each do |b| %>
            <h2><%= link_to b.name, bag_path(b) %></h2>
                <%= link_to "edit name", edit_bag_path(b) %> |
                <%= link_to "delete bag", bag_path(b), method: :delete %>
                <hr>
        <% end %>
    </ul>

<% end %>