<% if @bag.errors.any? %>

    <ul>
        <% @bag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
<%end%>

<%= form_for @bag do |f| %>

    <%= f.hidden_field :user_id %>

    <%= f.label "Name (ex: 'Main Kit', 'Jazz', etc):" %>
    <br>
    <%= f.text_field :name %>
    <br><br>
    <%= f.submit "Create bag & add cymbals ->" %>

<% end %>