<h2><%= @bag.name %></h2>

<% if !@bag.cymbal %>

    No cymbals in this bag yet. Add some <%= link_to "here", new_bag_cymbal_path(@bag) %>!

<% else %>

    <% @bag.cymbal.each do |c| %>

        <%= c.diameter %> <%= c.brand %> <%= c.line %> <%= c.cym_model %>
        <br>
        <%= c.finish %> Finish
        <br>
        <%= c.weight %> grams
        <br><br>
        <hr>
        
    <% end %>

<% end %>