<h1>All Users' Cymbals</h1>

<% if @cymbals.empty? %>
    No cymbals created yet!
<% else %>

    <ul>
    <% @cymbals.sorted.each do |c| %>

        <li><%= c.diameter %>" <%= c.brand %> <%= c.line %> <%= c.cym_model %> <%= c.cym_type %></li>

    <% end %>
    </ul>

<% end %>