<h1>All Users' Cymbals</h1>

<% if @cymbals.empty? %>
    No cymbals created yet!
<% else %>
    <ul>
    <% @cymbals.each do |c| %>
        <li>
        <%= c.diameter %>" 
        <%= c.brand.titleize %> 
        <%= c.line.titleize %> 
        <%= c.cym_model.titleize %> 
        <%= c.cym_type.titleize %> - 
        <small>(Added on <%= c.created_at.strftime("%m/%d/%Y") %>)</small>
        </li>
    <% end %>
    </ul>
<% end %>