Adding cymbals to <b><%= @cymbal.bags.name %></b>


<br><br>
<%= render 'cymbals/form' %>
<br>

<% if @cymbal.bags.empty? %>
    (Bag is empty)
<% else %>
    <%= @cymbal.bags do |c| %>
        <ul>
            <li><%= cymbal_path %><%= c.diameter %><%= c.brand %><%= c.line %><%= c.cym_model %><%= c.cym_type %></li>
        </ul>
    <% end %>
<% end %>