Add cymbals to: <b><%= @cymbal.bags.name %></b>
<br><br>
<%= render 'form' %>
<br>

<% if @cymbal.bags.empty? %>
    Empty
<% else %>
    <%= @cymbal.bags do |c| %>
        <ul>
        <li><a href=""><%= c.diameter %><%= c.brand %><%= c.model %><%= c.type %></a></li>
        </ul>
    <% end %>
<% end %>