<h2><%= @review.name %></h2>

<% if !@review.cymbal %>

    No cymbals in this review yet. Add some <%= link_to "here", new_review_cymbal_path(@review) %>!

<% else %>

    <% @review.cymbals.each do |c| %>

        <%= c.diameter %> <%= c.brand %> <%= c.line %> <%= c.cym_model %>
        <br>
        <%= c.finish %> Finish
        <br>
        <%= c.weight %> grams
        <br><br>
        <hr>
        
    <% end %>

<% end %>