<!DOCTYPE html>
<html>
  <head>
    <title>Rails Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- omniauth -->
    <script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>
  </head>

  <body>

  <!-- navbar -->
  <header>

    <nav>
        <% if @current_user %>
          <h3><%= link_to "Cymbal Bag", user_path(@current_user) %></h3>
          <ul>
          <li><%= link_to "Dashboard", user_path(@current_user) %></li>
          <li><%= link_to "Add a Cymbal", new_cymbal_path %></li>
          <li><%= link_to "User Index", users_path %></li>          
          <li><%= link_to "Cymbal Index", cymbals_path %></li>
          <li><%= link_to "Log Out", logout_path %></li>
          </ul>
        <% else %>
          <h3><%= link_to "Cymbal Bag", root_path %></h3>
          <ul>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Log In With Email", login_path %></li>
          <li><%= link_to "Log In With Google", '/auth/google_oauth2' %></li>
          </ul>
        <% end %>
      </ul>
    </nav>
  </header>
  <br>
  
  <!-- main -->
  <main>
    <%= yield %>
  </main>

  </body>
</html>